extends layout/app

block seo
   title PugTesting

block content
  h1 Testing Pug Template Engine
  if loggedIn
    .card
      h2=username
      h3 #{fname}  #{lname}
      each friend in friends
        li= friend